.searchbar{
  margin: 1%;
  width: 85%;
}

.searchbtn{
  border-radius: 15%;
  width: 10%;
}

.postlist{
  margin: 10px;
  background-color: whitesmoke;
  border-color: black;
  border-width: 10px;
  width: 100%;
}

.advancedsearch{
  background-color: gainsboro;
  border-color: whitesmoke;
  border-radius: 20%;
}


.listen{
  width: 98%;
  margin: 5px;
  position: sticky;
}

.postlist:hover{
  background-color: silver;
}

.advancedsearch:hover{
  background-color: white;
}

.menytekst{
  color: black;
  background-color: white;
  border-color: white;
}

.menytekst:hover{
  color: blue;
  background-color: aliceblue;
}

.login{
  position: fixed;
  top: 5px;
  right: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  border-color: silver;
}

.search{
  top: 0px;
  background-color: white;
}

.info{
  background-color: snow;
}

.infotekst{
  color: white;
  background-color:#81A296;
}

.infotekst:hover{
  color:blue;
  background-color: #81A296;
}

.navbarfarge{
  background-color: #5D5C61;
  color: white;
  width: 100%;
  position: fixed;
}

.navbarbutton{
  border-color: #379683;
  
}

.navbarbutton:hover{
  background-color: #379683;
  color: black;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}
.navbar-custom {
    background-color: #5D5C61;
}
.jumbotron-custom {
    background-color: #B1A296;
    margin-bottom: 0;
}
.jumbotron-custom-header{
  background-color: #379683;
}